/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

:root{
    --orange: #E6533C;
    --white: #FFFFFF;
    --gray1: rgba(255, 255, 255, 0.65);
    --gray2: rgba(255, 255, 255, 0.5);
}


/* Reset styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter"
}

/* Shared styles */
.container{
    width: 80%;
    margin: 0 auto;
    padding-top: 2.5rem;
}
.primary{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #E6533C;
    padding: 11px 28px;
    border-radius: 30px;
    border: none;
}
.title{
    font-size: 2rem;
    font-weight: 900;
    color: var(--white);
}
.description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

/* header styles */
.header{
    background-color: #000000;
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17,),rgba(119, 119, 119,0) 100%); */
}
.brand h1{
    color: #E6533C;
    font-weight: 900;
    font-size: 29px;
    font-style: italic;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav i{
    display: none;
}
.menu{
    display: flex;
    gap: 2.6rem;
    border: 1px solid #191919;
    border-radius: 20px;
}
.menu li{
    list-style-type: none;
    padding: 10px 0;
}
.menu li a{
    color: #FFFFFF;
    text-decoration: none;
}
.menu li:first-child{
    padding-left: 3px;
}
.menu li:last-child{
    padding-right: 30px;
}
.home{
    padding: 7px 20px;
    background-color: var(--orange);
    border-radius: 20px;
}

.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    width: 40%;
    margin-top: 100px;
}
.banner-content h1{
    font-size: 3rem;
    color: #FFFFFF;
    line-height: 55px;
}
.banner-content h1 span{
    font-family: "Miama";
    font-weight: 400;
    font-size: 5.7rem;
}
.banner-content p{
    color: var(--gray2);
    font-size: 16px;
    margin: 30px 0;
}

.banner-content .secondary{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: transparent;
    padding: 11px 28px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    margin-left: 10px;
}
.banner-image{
    width: 40%;
    margin-top: -20px;
    position: relative;
}

.banner-image img{
    width: 20.6rem;
    height: 34rem;
}

.workout-cart{
    width: 11.3rem;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 15px 0 15px 30px;
    position: absolute;
    top: 8rem;
    right: 3.1rem;
}

.workout-cart h1{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 900;
}
.workout-cart p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 12px;
    font-weight: 400;
}

.video-cart{
    width: 12rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    position: absolute;
    bottom: 58px;
    left: -93px;
    color: #FFFFFF;
}
.video-cart .circle{
    background-color: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-cart .tutorial h3{
    color: rgb(250, 250, 249);
    font-size: 20px;
    font-weight: 900;
}
.video-cart .tutorial p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 14px;
    font-weight: 400;
}
.video-cart .circle i{
    display: none;
}

main{
    background-color: #000000;;
}
.habit-wrapper{
    padding-top: 5rem;
}
.habit-wrapper .habit-titlebar{
    text-align: center;
}
.habit-titlebar h1{
    font-size: 2rem;
    font-weight: 900;
    color: var(--white);
}
.habit-titlebar p{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    margin: 12px 0 2.5rem;
}
.exercise-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.exercise-container .row{
    text-align: center;
    max-width: 13.5rem;
}
.exercise-container .row img{
    border-radius: 50%;
    border: 5px solid #191919;
}
.exercise-container h6{
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    margin: 1.5rem 0 0.5rem;
}
.exercise-container p{
    font-size: 13px;
    color: var(--gray1);
}


.run-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto 0;
    background-color: rgb(34, 34, 34);
    padding:2rem 2rem;
    border-radius: 1rem;
}
.run-content{
    width: 40%;
}
.run-content p{
    margin: 1rem 0;   
}
.run-image{
    width: 35%;
}
.run-image img{
    width: 100%;
    
}

.training-wrapper{
    margin-top: 50px;
}
.training-titlebar p{
    width: 100%;
    margin: 1rem 0 2rem;
}
.training-images .row1{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: repeat(1, 200px);
}

.row1 .img1, .row1 .img2, .row1 .img3{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.training-images .row1 .img1{
    background: linear-gradient(0deg, rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)), url('../images/exercise1.jpg');
    padding: 150px 0 0 30px;
    color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.training-images .row1 .img2{
    background-image: linear-gradient(0deg, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url('../images/exercise2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.training-images .row1 .img3{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/exercise3.png');
    padding: 150px 0 0 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.training-images .row1 p{
    color: var(--white);
}

.row2{
    display: grid;
    grid-template-columns: 40% auto 30%;
    grid-template-rows: repeat(1, 200px);
    color: #FFFFFF;
}

.row2 img{
    width: 100%;
    height: 100%;
}
.img-para{
    position: relative;
}
.img-para p{
    position: absolute;
    bottom: 10%;
    left: 8%;
}


.bmi-wrapper{
    padding: 60px 0 ;
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}
.bmi-section{
    background-color: rgb(34, 34, 34);
}
.bmi-title-wrapper{
    padding-top: 50px;
    width: 100%;
    background-color: #000000;
}
.bmi-title-wrap{
    width: 45%;
    margin: 0 auto;
    padding: 2rem 0 2.5rem;
}
.bmi-title-wrap p{
    margin: 1rem 0;
}


.bmi-chart{
    width: 40%;
}
.calculate-bmi{
    width: 50%;
}
.bmi-chart caption{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 900;
    text-align: left;
    margin-bottom: 38px;
}
table{
    border-collapse: collapse;
}
thead td{
    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;
}

tbody td{

    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}
td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 20px;
}

.bmi-title p{
    margin: 1rem 0 1.5rem;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(3, 2.6rem);
    gap: 12px;
}
.activity{
    grid-column: span 2;
}
.form-btn{
    margin-top: 1.5rem;
    width: 200px;
}
.form input, .form select{
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
    border-radius: 5px;
}
.form input::placeholder, form select{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}


.team-wrapper{
    background-color: #000000;
    padding-bottom: 4rem;
}
.team-titlebar{
    text-align: center;
}
.team-titlebar p{
    width: 55%;
    margin: 1rem auto 2rem;
}
.team-members{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 20px;
    background-color: #191919;
    padding: 20px;
    border-radius: 16px;
}
.team-members img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
.team-members div{
    position: relative;
}
.member-name{
    position: absolute;
    bottom: 60px;
    left: 20px;
}
.member-name h4{
    color: var(--white);
    font-size: 18px;
    font-weight: 900;
}
.member-name p{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 5px;
}



.footer{
    width: 100%;
    background-color: rgb(34, 34, 34);
}
.footer-wrap{
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
}
.fitness-column{
    width: 40%;
    margin-right: 5rem;

}
.fitness-column h1{
    font-size: 50px;
    color: rgba(230, 83, 60, 1);
    font-weight: 900;
    font-style: italic;
}
.fitness-column p{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    margin: 1.5rem 0;
    line-height: 22px;
}
.about-column{
    width: 30%;
}
.about-column h3, .service-column h3{
    color: var(--white);
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 2.5rem;
}
.about-column ul, .service-column ul{
    margin-left: -10px;
}
.about-column li, .service-column li{
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    margin: 15px;
    
}
.service-column{
    width: 30%;
}
.reserve{
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    text-align: center;
}
.reserve p{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
}



@media screen and (max-width: 576px) {
    .container{
        width: 85%;
    }
    .nav .menu{
        display: none;
    }
    .nav i{
        display: block;
        color: white;
    }
    .banner, .exercise-container, .run-wrapper, .bmi-wrapper, .footer-wrap{
        flex-direction: column;
    }
    .banner-content{
        margin-top: 50px;
    }
    .banner-image{
        margin-top: 2.5rem;
    }
    .banner-content, .run-content, .run-image, .fitness-column, .about-column, .service-column {
        width: 100%;
    }
    .banner-content .secondary, .primary{
        padding: 11px 18px;
    }
    .workout-cart {
        width: 10rem;
        top: 4.1rem;
        right: -13.3rem;
        padding: 10px 0 10px 24px;
    }
    .video-cart{
        width: 11rem;
        left: 0;
        bottom: 15.7rem;
    }
    .video-cart .circle i{
        display: block;
        color: #FFFFFF;
    }
    .exercise-container, .run-wrapper{
        gap: 2.5rem;
    }
    .run-content, .btn, .training-titlebar p, .bmi-chart{
        width: 100%;
    }
    .training-images .row1{
        grid-template-columns: 55% 45%;
        background-position: right;
        grid-template-rows: repeat(1, 150px);
    }

    .training-images .row1 .img1{
        padding-top: 114px;
    }
    .training-images .row1 .img3{
        display: none;
    }
    .img-para3{
        display: none;
    }
    .row2{
        grid-template-columns: 45% 55%;
        grid-template-rows: repeat(1, 150px);
    }
    .bmi-title-wrap {
        width: 85%;
        margin: 0 auto;
        padding: 0rem 0 1rem;
    }
    .bmi-wrapper {
        padding: 40px 0;
    }
    .calculate-bmi {
        width: 100%;
        margin-top: 2rem;
    }
    .team-members{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 250px);
    }
    .team-titlebar p{
        width: 83%;
    }

}